
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About Us | Partners in Health</title>

    <!-- core CSS -->
<!--    <link href="css/bootstrap.min.css" rel="stylesheet">    -->

 <!--   <link href="css/font-awesome.min.css" rel="stylesheet">    -->
 <!--   <link href="css/animate.min.css" rel="stylesheet">    -->
 <!--   <link href="css/prettyPhoto.css" rel="stylesheet">    -->
 <!--   <link href="css/main.css" rel="stylesheet">    -->
 <!--   <link href="css/responsive.css" rel="stylesheet">    -->
	
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

	<link href="{% static 'css/main.css' %}" rel="stylesheet">

	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

	<link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">

	<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
  

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{% static 'img/ico/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="{% static 'img/pih-logo.png' %}" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">  
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li class="active"><a href="/about-us.html">About Us</a></li>
                   		<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Story <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="mission.html">Our Mission</a></li>
                                <li><a href="history.html">Our History</a></li>
                                <li><a href="founders.html">Our Founders</a></li>
                                <li><a href="governance.html">Governance</a></li>
                            </ul>    
                        </li>
                        <li><a href="ourwork.html">Our Work</a></li>  
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support Our Work <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="events.html">Upcoming Events</a></li>
                                <li><a href="donate.html">Donate Now</a></li>
                            </ul>
                        </li>
                        <li><a href="/blog.html">Blogs</a></li> 
                        <li><a href="/contact-us.html">Contact</a></li>                               
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
	</header><!--/header-->

    <section id="about-us">
        <div class="container">
			<div class="center wow fadeInDown">
				<h2>About PIH at Berkeley</h2>
				<p class="lead">At Partners in Health, our mission is to provide a preferential option for the poor in health care.</p>
				<p>PIH at UC Berkeley aims to use some of the most valuable tools in social movement formation to create a group of like-minded, passionate individuals fighting for the human right to health. The tools we will be using include but are not limited to: education, advocacy, and campaign planning. We are looking for creative minds from a plethora of academic and cultural backgrounds in order to allow a diversity of voices to be heard regarding health care disparities and social justice on a domestic as well as international level.
				</p>
			</div>
			
			<!-- About PIH at Berkeley Slider -->
			<div id="about-slider">
				<div id="carousel-slider" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
				  	<ol class="carousel-indicators visible-xs">
					    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-slider" data-slide-to="1"></li>
					    <li data-target="#carousel-slider" data-slide-to="2"></li>
				  	</ol>

					<div class="carousel-inner">
						<div class="item active">
							<img src="{% static 'img/about/img1.jpg' %}" class="img-responsive" alt=""> 
					   </div>
					   <div class="item">
							<img src="{% static 'img/about/img2.jpg' %}" class="img-responsive" alt=""> 
					   </div> 
					   <div class="item">
							<img src="{% static 'img/about/img3.jpg' %}" class="img-responsive" alt=""> 
					   </div> 
					</div>
					
					<a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
						<i class="fa fa-angle-left"></i> 
					</a>
					
					<a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
						<i class="fa fa-angle-right"></i> 
					</a>
				</div> <!--/#carousel-slider-->
			</div><!--/#about-slider-->
			
			<!-- Our Goals -->
			<div class="skill-wrap clearfix">
				<div class="center wow fadeInDown">
					<h2>Our Goals</h2>
					<p class="lead">We aspire to achieve 3 overarching goals in one year. In order to achieve these goals we will have a DeCal, advocacy activities, fundraising activities, the leadership team will be involved in a letter to the editor writing campaign, and we will be connecting with local congressmen (some of whom have already established connections with PIH while others will need to be forged w/ the tools we will be providing). Very briefly, our three goals are as follows:</p>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<p class="subtitle">Generate</p>
						<div id="img-goals">
							<img src="{% static 'img/about/generate.png' %}" class="img-responsive" alt="">
						</div>
						<p class="content">In the past PIH | Engage chapters have raised up to $1,000,000 as a result of their advocacy efforts and activities -- the same results are expected from the PIH | Engage at UC Berkeley chapter. Information regarding where this money goes can be found here: http://www.pih.org/our-work</p>
					</div>
					<div class="col-sm-4">
						<p class="subtitle">Advocate</p>
						<div id="img-goals">
							<img src="{% static 'img/about/advocate.png' %}" class="img-responsive" alt=""> 
						</div>
						<p class="content">We will have meetings with congressmen, LTE writing campaigns, and events such as the "Social for Justice" and the "Global Day of Action" among others, in order to advocate for the human right to health and for equitable heialth care delivery globally and locally.</p>
					</div>
					<div class="col-sm-4">
						<p class="subtitle">Educate</p>
						<div id="img-goals">
							<img src="{% static 'img/about/educate.png' %}" class="img-responsive" alt=""> 
						</div>
						<p class="content">We aspire to use literacy tools in order to instigate conversation regarding the relevance of health care and its equitable delivery. We will eventually be creating a "Global Health Guide" which will be a compilation of lectures, excerpts from readings as well as the voices of UC Berkeley students and Berkeley city members regarding healthcare disparities and the quickly transforming field of Global Health.</p>
					</div>				
				</div>
            </div><!--/.our-skill-->
		</div><!--/.container-->
    </section><!--/about-us-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a> Partners in Health Berkeley. &copy; 2014</a>
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="/about-us.html">About Us</a></li>
                        <!-- <li><a href="#">Faq</a></li> -->
                        <li><a href="/contact-us.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    
<!--<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

<!--    <script src="js/bootstrap.min.js"></script> -->
<!--    <script src="js/jquery.prettyPhoto.js"></script>    -->
<!--    <script src="js/jquery.isotope.min.js"></script>    -->
<!--    <script src="js/main.js"></script>  -->
<!--    <script src="js/wow.min.js"></script>   -->

    <script src="js/jquery.js"></script>
    <script type="text/javascript">
        $('.carousel').carousel()
    </script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>