{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Founders | Partners in Health</title>

    <!-- core CSS -->
<!--    <link href="css/bootstrap.min.css" rel="stylesheet">    -->

 <!--   <link href="css/font-awesome.min.css" rel="stylesheet">    -->
 <!--   <link href="css/animate.min.css" rel="stylesheet">    -->
 <!--   <link href="css/prettyPhoto.css" rel="stylesheet">    -->
 <!--   <link href="css/main.css" rel="stylesheet">    -->
 <!--   <link href="css/responsive.css" rel="stylesheet">    -->
	
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

	<link href="{% static 'css/main.css' %}" rel="stylesheet">

	<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

	<link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">

	<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
  

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{% static 'img/ico/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

    <header id="header">

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="{% static 'img/pih-logo.png' %}" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us.html">About Us</a></li>
                   		<li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Story <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/mission.html">Our Mission</a></li>
                                <li><a href="/history.html">Our History</a></li>
                                <li><a href="/founders.html">Our Founders</a></li>
                                <li><a href="/governance.html">Governance</a></li>
                            </ul>  
                        </li>
                        <li><a href="/ourwork.html">Our Work</a></li>  
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Support Our Work <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/events.html">Upcoming Events</a></li>
                                <li><a href="/donate.html">Donate Now</a></li>
                            </ul>
                        </li>
                        <li><a href="/blog.html">Blogs</a></li> 
                        <li><a href="/contact-us.html">Contact</a></li>                               
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
	</header><!--/header-->

    <section id="about-us">
       <div class="container"> 
        <div class="center wow fadeInDown">
            <h2>Founders</h2>

            <h3>
                Ophelia Dahl</h3>
            <p>
                Ophelia Dahl has been advocating for the health and rights of poor people for nearly 30 years. In 1983, she volunteered at the small Eye Care Haiti clinic in Haiti&rsquo;s impoverished Central Plateau. There she met Paul Farmer, and they have been working ever since to deliver high-quality health care to the destitute sick. Dahl has served as executive director of PIH since 2001 and as chair of the board since 2000. She is a graduate of Wellesley College and the recipient of the Union Medal by Union Theological Seminary. Dahl is chairman of Dahl &amp; Dahl LLP, which manages the literary estate of her late father, the writer Roald Dahl. She also serves as vice president on the board of Roald Dahl&rsquo;s Museum and Story Centre.</p>

                <h3>
                Paul Farmer</h3>
            <p>
                Dr. Paul Farmer, physician and anthropologist, is chief strategist and co-founder of Partners In Health, Kolokotrones University Professor and chair of the Department of Global Health and Social Medicine at Harvard Medical School, and chief of the Division of Global Health Equity at Brigham and Women&rsquo;s Hospital in Boston. He also serves as U.N. Special Adviser to the Secretary-General on Community-based Medicine and Lessons from Haiti. Dr. Farmer has written extensively on health, human rights, and the consequences of social inequality. His most recent books are <em>In the Company of the Poor: Conversations with Dr. Paul Farmer and Fr. Gustavo Guti&eacute;rrez</em>, <em>Reimagining Global Health: An Introduction</em>, and <em>To Repair the World: Paul Farmer Speaks to the Next Generation</em>.</p>

                <h3>
                Jim Yong Kim</h3> 
            <p>
                Jim Yong Kim, M.D., Ph.D., is president of the World Bank Group. A physician and anthropologist, Dr. Kim has dedicated himself to international development for more than two decades. Before joining the World Bank, Kim served as president of Dartmouth College and held professorships at Harvard Medical School and the Harvard School of Public Health. From 2003-2005, as director of the World Health Organization&rsquo;s HIV/AIDS Department, Dr. Kim led the &ldquo;3 by 5&rdquo; initiative, the first global goal for AIDS treatment, which expanded AIDS treatment in developing countries. He has received a MacArthur &ldquo;Genius&rdquo; Fellowship and has been recognized as one of America&rsquo;s &ldquo;25 Best Leaders&rdquo; by <em>U.S. News &amp; World Report</em>.</p>


                <h3>
                Todd McCormack</h3>
            <p>
                Todd McCormack is a founding board member of Partners In Health and a senior corporate vice president at IMG Media, the largest independent producer and distributor of sports programming in the world. He previously served as CEO of TWI Interactive, an independently financed IMG company that managed IMG&rsquo;s new media rights from 1999-2003. McCormack continues to spearhead IMG special projects and supports the company&rsquo;s digital media business and also works independently with digital media businesses as an angel investor and advisor. He is a member of CommonAngels, a group that invests in innovative information technology companies, and an advisor to Livestream.</p>


                <h3>
                Tom White</h3>
            <p>
                Since its beginning, Tom White enabled Partners In Health to do &ldquo;whatever it takes&rdquo; to improve the lives and health of patients in destitute communities around the world, whether financing the construction of a small clinic in Cange, purchasing a microscope, or paying $30,000 per patient for PIH&rsquo;s first multidrug-resistant tuberculosis program. The owner and president of construction company J.F. White Contracting Co., he helped found PIH with his first $1 million donation and then systematically gave away his wealth&mdash;tens of millions of dollars&mdash;by selling his company, his assets, and his house to continue supporting PIH projects aimed at alleviating human suffering and poverty. He died peacefully in Boston Jan. 7, 2011.</p>


        </div>

        </div>
       </div>
    </section>

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a> Partners in Health Berkeley. &copy; 2014</a>
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us.html">About Us</a></li>
                        <!-- <li><a href="#">Faq</a></li> -->
                        <li><a href="/contact-us.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

</body>
</html> 